<%= form_with model: @product do |form| %>
  <% if form.object.errors.any? %>
    <div class="error">
      <%= form.object.errors.full_messages.first %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_textarea :description %>
  </div>

  <div class="form-group">
    <%= form.label :featured_image %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div class="form-group">
    <%= form.label :inventory_count %>
    <%= form.number_field :inventory_count %>
  </div>

  <div class="form-group" style="margin-top: 1rem;">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
